{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/onboarding.css' %}">
    <title>onboarding</title>
    <meta http-equiv="refresh" content="1; url=/main/">
</head>
<body>
    <div class="container">
        <div class="bird">
            {% include 'pages/_bird_svg.html' %}
        </div>
        <p class="subtitle">의지를 모아 습관을 완주하는 곳</p>
        <p class="title">HABIT-POT</p>
    </div>

    <script>
    setTimeout(function() {
        window.location.href = "{% url 'signup_login' %}"; 
    }, 1000); 
    </script>
</body>
</html>
