* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 430px;
    height: 932px;

    background: linear-gradient(180deg, var(--y0, #FFF7D1) 0%, #FFF 236.43%);
}
.bird {
    width: 271px;
    height: 232.741px;
}
.subtitle {
    color: #000;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'dlig' on;
    font-family: "Darker Grotesque";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 18px */
    letter-spacing: -0.45px;
}
.title {
    width: 320px;

    color: var(--b3, #7DABE1);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'dlig' on, 'ss05' on, 'cv10' on;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Darker Grotesque";
    font-size: 69.264px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 83.117px */
    letter-spacing: -2.078px;
}