.item-name, .item-price {
    margin: 0; 
}

body{
    display:flex;
    justify-content: center;
    background: linear-gradient(180deg, var(--y0, #FFF7D1) 0%, #FFF 236.43%);
    width: 99%;
    min-height: 100dvh;
}

.main{
    display: flex;
    padding: 86px 19px 27.023px 26px;
    width: 430px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, var(--y0, #FFF7D1) 0%, #FFF 236.43%);
}

.title-frame{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
    align-self: stretch;
    padding-bottom: 33px;
}

.title-text{
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.back-btn{
    width: 54px;
    height: 54px;

    background: #FFFCEB;
    border: 1px solid #DDD08A;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}
.back-text{
    width: 29px;
    height: 29px;
    
    aspect-ratio: 1/1;
}

.d-day{
    display: flex;
    width: 71px;
    height: 34px;
    padding: 5px 11px 5px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #FCE57C;
}

.day-text{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.member-frame{
    display: flex;
    padding: 10px 55px;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid #FFE357;
    background: #FFF3BA;
}

.info-box{
    display: flex;
    width: 180px;
    height: 20.391px;
    padding: 4.922px 22.5px 4.922px 21.797px;
    justify-content: center;
    align-items: center;
    gap: 7.031px;
    border-radius: 7.031px;
    border: 1px solid #FFE357;
    background: #FCE57C;
}

.info-text{
    color: #000;
    font-family: Inter;
    font-size: 8.438px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.member-container{
    display: inline-grid;
    row-gap: 21px;
    column-gap: 59px;
    align-self: stretch;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-auto-flow: row;
}

.member-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    grid-row: span 1;
    grid-column: span 1;
    justify-self: stretch;
}

.avatar-wrapper{
    display: flex;
width: 130px;
    height: 130px; 
    flex-shrink: 0;
    padding: 12px 6px 12px 6px;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    border-radius: 50%;
    border: 4px solid #DFDFDF;
    background: #FFFBE8;
}


.avatar-wrapper svg {
    width: 100%;  
    height: 100%; 
}

.member-info{
    display: flex;
    align-items: center;
    gap: 3px;
}

.nickname{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.badge-none{
    display: flex;
    width: 32px;
    height: 12px;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #DFDFDF;
}

.badge-none p{
    color: #767575;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 

.badge-success{
    display: flex;
    width: 29px;
    height: 12px;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #D3FFA3;
}

.badge-success p{
    color: #767575;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.badge-fail{
    display: flex;
    width: 36px;
    height: 12px;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.badge-fail p{
    color: #F00;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    padding-top: 36px;
    margin-bottom: 25px;
}

.text-container{
    margin-left: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.gray-small{
    color: #8F8E8E;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.treat-container{
    display: flex;

    padding: 18px 45px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #FFE357;
    background: #FFF;
    
}

.item-list{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.item-name{
    width: 62px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

label[for="item-post"] .item-name {
    font-size: 6px;
}

label[for="item-poop"] .item-name {
    font-size: 7.5px;
}

label[for="item-glasses"] .item-name {
    font-size: 7px;
}

.item-price{
    color: #8F8E8E;
    text-align: center;
    font-family: Inter;
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select-container{
    display: flex;
    align-items: center;
    gap: 3px;
}

.select-btn{
    display: flex;
    width: 44.462px;
    height: 17px;
    padding: 1px 6px 1px 9px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 13.077px;
    border: 0.5px solid #000;
    background: #FFF;
    color: #0075FF;
    font-family: Inter;
    font-size: 7.25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select-text{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 7.25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select-btn:invalid {
    color: #0075FF;
    font-family: Inter;
    font-size: 7.25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-text{
    color: #000;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#use-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    height: 29px;
    border-radius: 10px;
    background: #D1D1D1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.code-frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    align-self: stretch;
}

.code-container{
    display: flex;
    height: 52px;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    background: #FFF3BE;
    box-sizing: border-box;
}

.gray-medium{
    color: #8F8E8E;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.code-box{
    display: flex;
    align-items: center;
    gap: 7px;
}

.code-box .gray-medium{
    border-bottom: 1px solid#8F8E8E;
}

.certify-box{
    display: flex;
    height: 70px;
    padding: 17px 86px 18px 86px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 10px;
    background: #FBE51E;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    text-decoration: none;
}

.certify-box p{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.item-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
 
}

.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 75px;
    padding: 5px 0 5px 1px;
    align-items: center;
    gap: 0px;
    border-radius: 9.375px;
    border: 0.938px solid #D5D5D5;
    background: #FFF;
}
.item-img-box{
    width: 59px;
    height: 51px;
}

.item-img-box img {
    width: 30px; 
    height: 30px;
}

input[name="treat-item"] {
    display: none;
}


input[name="treat-item"]:checked + .item-box {
    border:  0.938px solid #FFE357; 
    box-shadow: 0 0 0 1.062px #FFE357;
}


#target-price{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.avatar-wrapper svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* 파란색 */
.avatar-wrapper[data-color="blue"] svg #avatar-body { fill: #5B79FF; }
.avatar-wrapper[data-color="blue"] svg #wing-left-fill,
.avatar-wrapper[data-color="blue"] svg #wing-right-fill { fill: #4A63CF; stroke: #4A63CF; }

/* 보라색 */
.avatar-wrapper[data-color="purple"] svg #avatar-body { fill: #CB33DF; }
.avatar-wrapper[data-color="purple"] svg #wing-left-fill,
.avatar-wrapper[data-color="purple"] svg #wing-right-fill { fill: #A028AF; stroke: #A028AF; }

/* 초록색 */
.avatar-wrapper[data-color="green"] svg #avatar-body { fill: #9DBF4A; }
.avatar-wrapper[data-color="green"] svg #wing-left-fill,
.avatar-wrapper[data-color="green"] svg #wing-right-fill { fill: #7E993B; stroke: #7E993B; }

/* 빨간색 */
.avatar-wrapper[data-color="red"] svg #avatar-body { fill: #E85555; }
.avatar-wrapper[data-color="red"] svg #wing-left-fill,
.avatar-wrapper[data-color="red"] svg #wing-right-fill { fill: #C93E3E; stroke: #C93E3E; }

/* 회색 */
.avatar-wrapper[data-color="gray"] svg #avatar-body { fill: #A9A9A9; }
.avatar-wrapper[data-color="gray"] svg #wing-left-fill,
.avatar-wrapper[data-color="gray"] svg #wing-right-fill { fill: #808080; stroke: #808080; }

/* 분홍색 */
.avatar-wrapper[data-color="pink"] svg #avatar-body { fill: #FF5A96; }
.avatar-wrapper[data-color="pink"] svg #wing-left-fill,
.avatar-wrapper[data-color="pink"] svg #wing-right-fill { fill: #D83B76; stroke: #D83B76; }